flow.json
[{"id":"a44028c7.c520f8","type":"tab","label":"/dashboard","disabled":false,"info":""},{"id":"89ec04f3.c07ed8","type":"tab","label":"RedShark RSS","disabled":false,"info":""},{"id":"c1bc36d2.cacab8","type":"tab","label":"Server status","disabled":false,"info":""},{"id":"53268db6.4e1e64","type":"chatbot-slack-node","z":"","botname":"FlowBot","usernames":"","username":"","iconEmoji":"","store":"","log":"","debug":false},{"id":"6126bbf9.32e444","type":"uibuilder","z":"a44028c7.c520f8","name":"/dashboard","topic":"","url":"dashboard","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":390,"y":100,"wires":[["ab9dd6a1.4574e8"],[]]},{"id":"ab9dd6a1.4574e8","type":"debug","z":"a44028c7.c520f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":100,"wires":[]},{"id":"3305e25e.e8213e","type":"chatbot-slack-send","z":"a44028c7.c520f8","bot":"53268db6.4e1e64","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":380,"y":240,"wires":[]},{"id":"2fc9c57b.c5c4da","type":"inject","z":"a44028c7.c520f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":240,"wires":[["3305e25e.e8213e"]]},{"id":"317dd688.e416ca","type":"inject","z":"a44028c7.c520f8","name":"","topic":"hello","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":60,"wires":[["6126bbf9.32e444"]]},{"id":"8d698063.6e385","type":"feedparse","z":"a44028c7.c520f8","name":"","url":"https://cdn.redsharknews.com/rss/home.xml","interval":15,"x":250,"y":340,"wires":[["e827f70b.e7ce18"]]},{"id":"e827f70b.e7ce18","type":"debug","z":"a44028c7.c520f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":360,"wires":[]},{"id":"cddc1dd3.dcb14","type":"ping","z":"c1bc36d2.cacab8","name":"","host":"www.editshare.com","timer":"20","x":110,"y":60,"wires":[["54f235f0.41123c"]]},{"id":"84fb741d.ebdb28","type":"link out","z":"c1bc36d2.cacab8","name":"Server status -> OUT","links":["5263cd73.17b5e4"],"x":375,"y":80,"wires":[]},{"id":"5263cd73.17b5e4","type":"link in","z":"a44028c7.c520f8","name":"Server status -> IN","links":["84fb741d.ebdb28"],"x":235,"y":120,"wires":[["6126bbf9.32e444"]]},{"id":"54f235f0.41123c","type":"change","z":"c1bc36d2.cacab8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"server-status-editshare","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":140,"wires":[["84fb741d.ebdb28"]]}]