flow.json
[{"id":"a44028c7.c520f8","type":"tab","label":"/ui","disabled":false,"info":""},{"id":"dc564519.e16898","type":"inject","z":"a44028c7.c520f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":100,"wires":[["b8197d4f.8f99b"]]},{"id":"b8197d4f.8f99b","type":"debug","z":"a44028c7.c520f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":120,"wires":[]},{"id":"6126bbf9.32e444","type":"uibuilder","z":"a44028c7.c520f8","name":"/dashboard","topic":"","url":"dashboard","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":210,"y":260,"wires":[[],[]]}]