flow.json
[{"id":"a44028c7.c520f8","type":"tab","label":"/dashboard","disabled":false,"info":""},{"id":"7b767bfe.e6ea14","type":"tab","label":"Slack","disabled":false,"info":""},{"id":"4aa8d3ac.11cc9c","type":"tab","label":"Date & Time","disabled":false,"info":""},{"id":"89ec04f3.c07ed8","type":"tab","label":"RedShark RSS","disabled":false,"info":""},{"id":"c1bc36d2.cacab8","type":"tab","label":"Server status","disabled":false,"info":""},{"id":"20a24cd2.0b4b54","type":"tab","label":"GitHub Status","disabled":false,"info":""},{"id":"d43efb64.67ab78","type":"tab","label":"GitHub Repos","disabled":false,"info":""},{"id":"55e8f59d.bece7c","type":"tab","label":"GitHub Webhooks","disabled":false,"info":""},{"id":"53268db6.4e1e64","type":"chatbot-slack-node","z":"","botname":"FlowBot","usernames":"","username":"","iconEmoji":":flow:","store":"","log":"","debug":false},{"id":"6acadeb1.26aeb","type":"github-credentials","z":"","name":"Hackathon Dashboard"},{"id":"68404454.dfdbcc","type":"slack-config","z":"","name":"flowbot"},{"id":"6126bbf9.32e444","type":"uibuilder","z":"a44028c7.c520f8","name":"/dashboard","topic":"","url":"dashboard","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":330,"y":140,"wires":[["6e9ae951.478a28"],[]]},{"id":"84fb741d.ebdb28","type":"link out","z":"c1bc36d2.cacab8","name":"Server status -> OUT","links":["5263cd73.17b5e4"],"x":615,"y":60,"wires":[]},{"id":"5263cd73.17b5e4","type":"link in","z":"a44028c7.c520f8","name":"Server status -> IN","links":["84fb741d.ebdb28"],"x":175,"y":80,"wires":[["6126bbf9.32e444"]]},{"id":"54f235f0.41123c","type":"change","z":"c1bc36d2.cacab8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"server-status-editshare","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":60,"wires":[["84fb741d.ebdb28"]]},{"id":"b6d14f3d.fca25","type":"http request","z":"c1bc36d2.cacab8","name":"Ping editshare.com","method":"GET","ret":"txt","paytoqs":false,"url":"https://editshare.com","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":60,"wires":[["54f235f0.41123c"]]},{"id":"5ce1d490.d6f2dc","type":"inject","z":"c1bc36d2.cacab8","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":"5","x":110,"y":60,"wires":[["b6d14f3d.fca25"]]},{"id":"5932a417.b381fc","type":"feedparse","z":"20a24cd2.0b4b54","name":"GitHub Status RSS","url":"https://www.githubstatus.com/history.rss","interval":"2","x":130,"y":60,"wires":[["2b09195a.8785f6"]]},{"id":"a84f4fe5.52493","type":"feedparse","z":"89ec04f3.c07ed8","name":"","url":"https://cdn.redsharknews.com/rss/home.xml","interval":"2","x":210,"y":40,"wires":[["22279616.278d8a"]]},{"id":"5ed2ae7d.185eb","type":"github-repo","z":"d43efb64.67ab78","github":"6acadeb1.26aeb","name":"","username":"wmurray-es","usernameType":"str","repository":"flow-next","repositoryType":"str","action":"show","branch":"master","branchType":"str","path":"","pathType":"str","pathto":"","pathtoType":"str","contents":"payload","contentsType":"msg","outputs":"1","x":340,"y":40,"wires":[["ea0aa743.8aab18"]]},{"id":"f31f9e35.86187","type":"inject","z":"d43efb64.67ab78","name":"","topic":"github-repos-flow-next","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"onceDelay":"5","x":110,"y":40,"wires":[["5ed2ae7d.185eb"]]},{"id":"ea0aa743.8aab18","type":"link out","z":"d43efb64.67ab78","name":"GitHub Repos -> OUT","links":["9ea28152.5f188"],"x":515,"y":40,"wires":[]},{"id":"9ea28152.5f188","type":"link in","z":"a44028c7.c520f8","name":"GitHub Repos -> IN","links":["ea0aa743.8aab18"],"x":175,"y":120,"wires":[["6126bbf9.32e444"]]},{"id":"a393a7d4.a91018","type":"link out","z":"89ec04f3.c07ed8","name":"Redshark RSS -> OUT","links":["7cf33d2e.d1dc54"],"x":655,"y":120,"wires":[]},{"id":"7cf33d2e.d1dc54","type":"link in","z":"a44028c7.c520f8","name":"Redshark RSS -> IN","links":["a393a7d4.a91018"],"x":175,"y":160,"wires":[["6126bbf9.32e444"]]},{"id":"22279616.278d8a","type":"change","z":"89ec04f3.c07ed8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"redshark-rss","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":160,"wires":[["8563953a.fccd98"]]},{"id":"630e3418.063d0c","type":"link out","z":"20a24cd2.0b4b54","name":"GitHub Status RSS -> OUT","links":["a7647428.c07658"],"x":675,"y":40,"wires":[]},{"id":"2b09195a.8785f6","type":"change","z":"20a24cd2.0b4b54","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"github-status-rss","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":100,"wires":[["2cb911b4.13bafe"]]},{"id":"a7647428.c07658","type":"link in","z":"a44028c7.c520f8","name":"GitHub Status RSS -> IN","links":["630e3418.063d0c"],"x":175,"y":200,"wires":[["6126bbf9.32e444"]]},{"id":"b7731364.2824b","type":"inject","z":"4aa8d3ac.11cc9c","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":100,"wires":[["b863fa0d.280c48","d74fdfc4.f8f9c","96bd3da5.f624","8afc3840.122f18"]]},{"id":"d74fdfc4.f8f9c","type":"moment","z":"4aa8d3ac.11cc9c","name":"","topic":"datetime-boston","input":"payload","inputType":"msg","inTz":"ETC/GMT","adjAmount":"12","adjType":"hours","adjDir":"subtract","format":"DD/MM/YYYY HH:mm A","locale":"C","output":"payload","outputType":"msg","outTz":"ETC/GMT-5","x":330,"y":80,"wires":[["a83cbf57.74176"]]},{"id":"a83cbf57.74176","type":"link out","z":"4aa8d3ac.11cc9c","name":"Date & Time -> OUT","links":["e6feb2be.d5047"],"x":495,"y":100,"wires":[]},{"id":"e6feb2be.d5047","type":"link in","z":"a44028c7.c520f8","name":"Date & Time -> IN","links":["a83cbf57.74176"],"x":175,"y":40,"wires":[["6126bbf9.32e444"]]},{"id":"b863fa0d.280c48","type":"moment","z":"4aa8d3ac.11cc9c","name":"","topic":"datetime-basingstoke","input":"payload","inputType":"msg","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD/MM/YYYY HH:mm A","locale":"C","output":"payload","outputType":"msg","outTz":"ETC/GMT","x":340,"y":40,"wires":[["a83cbf57.74176"]]},{"id":"96bd3da5.f624","type":"moment","z":"4aa8d3ac.11cc9c","name":"","topic":"datetime-madrid","input":"payload","inputType":"msg","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD/MM/YYYY HH:mm A","locale":"C","output":"payload","outputType":"msg","outTz":"ETC/GMT+1","x":330,"y":120,"wires":[["a83cbf57.74176"]]},{"id":"58727f6.0b1d28","type":"link out","z":"a44028c7.c520f8","name":"Dashboard -> OUT","links":["e3f133a3.3ac1","b62712ee.e84db"],"x":495,"y":200,"wires":[]},{"id":"8afc3840.122f18","type":"moment","z":"4aa8d3ac.11cc9c","name":"","topic":"datetime-warsaw","input":"payload","inputType":"msg","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD/MM/YYYY HH:mm A","locale":"C","output":"payload","outputType":"msg","outTz":"CET","x":330,"y":160,"wires":[["a83cbf57.74176"]]},{"id":"8563953a.fccd98","type":"batch","z":"89ec04f3.c07ed8","name":"","mode":"interval","count":10,"overlap":0,"interval":"5","allowEmptySequence":false,"topics":[],"x":550,"y":140,"wires":[["a393a7d4.a91018"]]},{"id":"2cb911b4.13bafe","type":"batch","z":"20a24cd2.0b4b54","name":"","mode":"interval","count":10,"overlap":0,"interval":"5","allowEmptySequence":false,"topics":[],"x":590,"y":120,"wires":[["630e3418.063d0c"]]},{"id":"6b39d4c1.b5283c","type":"http in","z":"55e8f59d.bece7c","name":"","url":"/flow-next-github-webhook","method":"post","upload":false,"swaggerDoc":"","x":170,"y":80,"wires":[["4eac25f8.1034dc","856d11bc.3b639","669f0ab2.15be84"]]},{"id":"4eac25f8.1034dc","type":"http response","z":"55e8f59d.bece7c","name":"","statusCode":"200","headers":{},"x":440,"y":80,"wires":[]},{"id":"856d11bc.3b639","type":"debug","z":"55e8f59d.bece7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":140,"wires":[]},{"id":"669f0ab2.15be84","type":"link out","z":"55e8f59d.bece7c","name":"GitHub Webhooks -> OUT","links":[],"x":395,"y":200,"wires":[]},{"id":"6e9ae951.478a28","type":"switch","z":"a44028c7.c520f8","name":"Filter by topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"datetime-basingstoke","vt":"str"},{"t":"eq","v":"datetime-boston","vt":"str"},{"t":"eq","v":"datetime-madrid","vt":"str"},{"t":"eq","v":"datetime-warsaw","vt":"str"},{"t":"eq","v":"github-repos-flow-next","vt":"str"},{"t":"eq","v":"github-status-rss","vt":"str"},{"t":"eq","v":"redshark-rss","vt":"str"},{"t":"eq","v":"server-status-editshare","vt":"str"},{"t":"eq","v":"page-loaded","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":340,"y":280,"wires":[[],[],[],[],[],[],[],[],["58727f6.0b1d28"]]},{"id":"b62712ee.e84db","type":"link in","z":"c1bc36d2.cacab8","name":"Dashboard -> IN","links":["58727f6.0b1d28"],"x":175,"y":100,"wires":[["b6d14f3d.fca25"]]},{"id":"e3f133a3.3ac1","type":"link in","z":"d43efb64.67ab78","name":"Dashboard -> IN","links":["58727f6.0b1d28"],"x":155,"y":140,"wires":[["5ed2ae7d.185eb"]]},{"id":"aca8846f.93b0f8","type":"chatbot-slack-receive","z":"7b767bfe.e6ea14","bot":"53268db6.4e1e64","botProduction":"53268db6.4e1e64","x":120,"y":1120,"wires":[["72e00872.fee138"]]},{"id":"f7dba51.c6c3f58","type":"chatbot-slack-send","z":"7b767bfe.e6ea14","bot":"53268db6.4e1e64","botProduction":"53268db6.4e1e64","track":false,"passThrough":false,"outputs":0,"x":240,"y":1220,"wires":[]},{"id":"72e00872.fee138","type":"debug","z":"7b767bfe.e6ea14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":1100,"wires":[]},{"id":"75eff467.535adc","type":"inject","z":"7b767bfe.e6ea14","d":true,"name":"","topic":"flowbot","payload":"bleep-bloop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1460,"wires":[["1860aa17.5a38b6"]]},{"id":"1860aa17.5a38b6","type":"change","z":"7b767bfe.e6ea14","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"chat","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":1340,"wires":[["f7dba51.c6c3f58"]]},{"id":"24e79340.10683c","type":"http in","z":"7b767bfe.e6ea14","d":true,"name":"","url":"/flowbot-events","method":"post","upload":false,"swaggerDoc":"","x":120,"y":1580,"wires":[["ae206925.39b718","d47eeabd.9e2ce8"]]},{"id":"ae206925.39b718","type":"http response","z":"7b767bfe.e6ea14","name":"","statusCode":"200","headers":{},"x":420,"y":1580,"wires":[]},{"id":"d47eeabd.9e2ce8","type":"debug","z":"7b767bfe.e6ea14","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":1640,"wires":[]},{"id":"8dba6763.5c16c8","type":"link in","z":"a44028c7.c520f8","name":"Slack -> IN","links":["a3c20e5b.29fb1","9af5f4b4.703588","16c04978.1ed747"],"x":175,"y":240,"wires":[["6126bbf9.32e444"]]},{"id":"e51a378f.30de88","type":"http response","z":"7b767bfe.e6ea14","name":"","statusCode":"200","headers":{},"x":400,"y":1760,"wires":[]},{"id":"fbe182da.2ac94","type":"http in","z":"7b767bfe.e6ea14","name":"","url":"/flowbot-slash-command","method":"post","upload":false,"swaggerDoc":"","x":130,"y":1760,"wires":[["e51a378f.30de88","98667f5c.485c4"]]},{"id":"6a1b6eef.b9289","type":"change","z":"7b767bfe.e6ea14","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"flowbot","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1920,"wires":[["7869a6cd.abd008","a3c20e5b.29fb1"]]},{"id":"a3c20e5b.29fb1","type":"link out","z":"7b767bfe.e6ea14","name":"Slack -> OUT","links":["8dba6763.5c16c8"],"x":460,"y":1940,"wires":[]},{"id":"7869a6cd.abd008","type":"debug","z":"7b767bfe.e6ea14","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":1820,"wires":[]},{"id":"98667f5c.485c4","type":"function","z":"7b767bfe.e6ea14","name":"Delete req and res on msg to avoid overflow!","func":"delete msg.req\ndelete msg.res\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":1840,"wires":[["6a1b6eef.b9289"]]},{"id":"af3c6d2e.a75de","type":"http response","z":"7b767bfe.e6ea14","name":"","statusCode":"200","headers":{},"x":420,"y":2040,"wires":[]},{"id":"e86343a.d99a0c","type":"http in","z":"7b767bfe.e6ea14","name":"","url":"/flowbot-events","method":"post","upload":false,"swaggerDoc":"","x":120,"y":2040,"wires":[["af3c6d2e.a75de","63984358.e0fdec"]]},{"id":"a3dce005.29f6b","type":"change","z":"7b767bfe.e6ea14","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"flowbot-events","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":2200,"wires":[["d97a26d8.f43018","16c04978.1ed747"]]},{"id":"16c04978.1ed747","type":"link out","z":"7b767bfe.e6ea14","name":"Slack -> OUT","links":["8dba6763.5c16c8"],"x":480,"y":2220,"wires":[]},{"id":"d97a26d8.f43018","type":"debug","z":"7b767bfe.e6ea14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":2100,"wires":[]},{"id":"63984358.e0fdec","type":"function","z":"7b767bfe.e6ea14","name":"Delete req and res on msg to avoid overflow!","func":"delete msg.req\ndelete msg.res\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":2120,"wires":[["a3dce005.29f6b"]]}]